.layout {
    display: flex;
    height: 100vh;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.sidebar {
    flex: 25% 0 0;
    max-width: 480px;
    border-right: 1px solid #ededed;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}